.mainLayout {
  display: flex;
  height: 100vh;
}

.menu {
  width: 250px;
}

main {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.centered main {
  align-items: center;
  justify-content: center;
}
