/* Make the table horizontally scrollable on smaller screens */
@media screen and (max-width: 768px) {
  .userTable {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .userTable table {
    width: 100%;
    min-width: 1200px; /* Ensure the table is wide enough */
    table-layout: fixed; /* Ensure columns are fixed */
  }

  th,
  td {
    padding: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent wrapping */
  }

  /* Set fixed widths for specific columns to prevent overlap */
  th:nth-child(2),
  td:nth-child(2) {
    /* Email column */
    width: 250px;
  }

  th:nth-child(3),
  td:nth-child(3) {
    /* Phone column */
    width: 150px;
  }

  th {
    font-size: 14px;
  }

  td {
    font-size: 12px;
  }
}
