.cardLine {
  display: flex;
  justify-content: space-between; /* Distribute the cards with space between them */
  align-items: center; /* Center cards vertically */
  width: 100%; /* Make the container span the full width */
  margin: auto;
  padding-bottom: 10px;
  box-sizing: border-box; /* Ensure padding does not affect the overall width */
}

.cardLine > * {
  margin: 0 10px; /* Add horizontal spacing between each card */
}
